$color-primary: #004582;
$color-secondary: #e2464c;
$color-tertiary: #258394;
$color-sociales: #CB6615;
$color-naturales: #437B60;
$color-success: #299425;
$color-danger: #aa0000;

$black: #111111;
$color-gray: #dbdbdb;
$white: #ffffff;
// $white: #fafafa;

$color-primary-600: mix(black, $color-primary, 50%) !default;
$color-primary-500: mix(black, $color-primary, 30%) !default;
$color-primary-400: mix(black, $color-primary, 10%) !default;
$color-primary-200: mix(white, $color-primary, 10%) !default;
$color-primary-150: mix(white, $color-primary, 30%) !default;
$color-primary-100: mix(white, $color-primary, 50%) !default;
$color-primary-75: mix(white, $color-primary, 70%) !default;
$color-primary-50: mix(white, $color-primary, 90%) !default;
$color-primary-25: mix(white, $color-primary, 98%) !default;

$color-secondary-600: mix(black, $color-secondary, 50%) !default;
$color-secondary-500: mix(black, $color-secondary, 30%) !default;
$color-secondary-400: mix(black, $color-secondary, 10%) !default;
$color-secondary-200: mix(white, $color-secondary, 10%) !default;
$color-secondary-150: mix(white, $color-secondary, 30%) !default;
$color-secondary-100: mix(white, $color-secondary, 50%) !default;
$color-secondary-75: mix(white, $color-secondary, 70%) !default;
$color-secondary-50: mix(white, $color-secondary, 90%) !default;

$color-tertiary-600: mix(black, $color-tertiary, 50%) !default;
$color-tertiary-500: mix(black, $color-tertiary, 30%) !default;
$color-tertiary-400: mix(black, $color-tertiary, 10%) !default;
$color-tertiary-200: mix(white, $color-tertiary, 10%) !default;
$color-tertiary-150: mix(white, $color-tertiary, 30%) !default;
$color-tertiary-100: mix(white, $color-tertiary, 50%) !default;
$color-tertiary-75: mix(white, $color-tertiary, 70%) !default;
$color-tertiary-50: mix(white, $color-tertiary, 90%) !default;

$color-sociales-600: mix(black, $color-sociales, 50%) !default;
$color-sociales-500: mix(black, $color-sociales, 30%) !default;
$color-sociales-400: mix(black, $color-sociales, 10%) !default;
$color-sociales-200: mix(white, $color-sociales, 10%) !default;
$color-sociales-150: mix(white, $color-sociales, 30%) !default;
$color-sociales-100: mix(white, $color-sociales, 50%) !default;
$color-sociales-75: mix(white, $color-sociales, 70%) !default;
$color-sociales-50: mix(white, $color-sociales, 90%) !default;

$color-naturales-600: mix(black, $color-naturales, 50%) !default;
$color-naturales-500: mix(black, $color-naturales, 30%) !default;
$color-naturales-400: mix(black, $color-naturales, 10%) !default;
$color-naturales-200: mix(white, $color-naturales, 10%) !default;
$color-naturales-150: mix(white, $color-naturales, 30%) !default;
$color-naturales-100: mix(white, $color-naturales, 50%) !default;
$color-naturales-75: mix(white, $color-naturales, 70%) !default;
$color-naturales-50: mix(white, $color-naturales, 90%) !default;

$color-success-600: mix(black, $color-success, 50%) !default;
$color-success-500: mix(black, $color-success, 30%) !default;
$color-success-400: mix(black, $color-success, 10%) !default;
$color-success-200: mix(white, $color-success, 10%) !default;
$color-success-150: mix(white, $color-success, 30%) !default;
$color-success-100: mix(white, $color-success, 50%) !default;
$color-success-75: mix(white, $color-success, 70%) !default;
$color-success-50: mix(white, $color-success, 90%) !default;

$color-danger-600: mix(black, $color-danger, 50%) !default;
$color-danger-500: mix(black, $color-danger, 30%) !default;
$color-danger-400: mix(black, $color-danger, 10%) !default;
$color-danger-200: mix(white, $color-danger, 10%) !default;
$color-danger-150: mix(white, $color-danger, 30%) !default;
$color-danger-100: mix(white, $color-danger, 50%) !default;
$color-danger-75: mix(white, $color-danger, 70%) !default;
$color-danger-50: mix(white, $color-danger, 90%) !default;

$color-gray-600: mix(black, $color-gray, 50%) !default;
$color-gray-500: mix(black, $color-gray, 30%) !default;
$color-gray-400: mix(black, $color-gray, 10%) !default;
$color-gray-200: mix(white, $color-gray, 10%) !default;
$color-gray-150: mix(white, $color-gray, 30%) !default;
$color-gray-100: mix(white, $color-gray, 50%) !default;
$color-gray-75: mix(white, $color-gray, 70%) !default;
$color-gray-50: mix(white, $color-gray, 90%) !default;
$color-gray-25: mix(white, $color-gray, 98%) !default;

$color-text-dark: #333333;
$color-text-light: #ffffff;

$border-radius: 0.75rem;
$border-radius-sm: 0.5rem;
$border-rounded: 1000px;

$font-size-base: 1rem;
$font-size-sm: 0.875rem;
$font-size-button: $font-size-base + 0.125rem;

$transition: all 300ms ease-in-out;

$box-shadow-1: 0 6px 12px 0 rgba(100,100,100,0.05);


:root {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: $color-text-dark;
  background-color: $white;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: $font-size-base
}

::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: $color-gray-100;
  opacity: 0;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-primary; 
  border-radius: 6px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-primary-600; 
}

html{
  scroll-behavior: smooth;
}

@import "grid";

@view-trasition{
  navigation: auto;
}

*{
  outline: none;
}


.loader{
  position: absolute;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    img{
      width: 150px;
      height: 150px;
    }
}

body {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100dvh;
  width: 100dvw;
  scroll-snap-type: y mandatory;
  &.noScroll{
    overflow: hidden !important;
  }
}

h{
  &1,&2,&3,&4,&5,&6{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    color: $color-primary;
    &.secondary{
      color: $color-secondary;
    }
    &.dark{
      color: $color-text-dark;
    }
    &.outline{
      color: $white;
      text-shadow: 2px 0 $color-gray, -2px 0 $color-gray, 0 2px $color-gray, 0 -2px $color-gray, 1px 1px $color-gray, -1px -1px $color-gray, 1px -1px $color-gray, -1px 1px $color-gray;
      font-size: 4.15rem;
      text-align: center;
    }
  }
}

a{
  color: $color-primary;
  &:hover{
    color: $color-primary-500;
  }
}

p{
  text-align: justify;
  &.autor{
    text-align: right !important;
    padding: 2rem 0;
    margin: 0;
    small{
      color: $color-gray-500;
      font-style: italic;
    }
  }
  &.secondary{
    color: $color-secondary;
  }
  &.tertiary{
    color: $color-tertiary;
  }
  &.sociales{
    color: $color-sociales;
  }
  &.naturales{
    color: $color-naturales;
  }
}

blockquote {
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: 80%;
  color: $color-primary;
  border-left: 4px solid $color-primary;
  border-left-style: solid;
  margin: 3rem 0;
  padding: 0.5rem 0;
  padding-left: 1rem;
  ul{
    &:last-child{
      margin-top: 0rem;
    }
    margin-bottom: 0;
    li{
      &:last-child{
        margin: 0;
      }
    }
  }
}

hr{
  margin: 4rem 0;
  border-style: solid;
  &.primary{
    border-width: 3px;
    border-color: $color-primary;
  }
}

[data-tooltip] {
  border-bottom: 1px dashed $color-primary;
  position: relative;
  cursor: pointer;
  // display: inline-block;
  &:hover {
    &::after {
      display: block;
      position: fixed;
      content: attr(data-tooltip);
      background-color: $color-gray-50;
      border: 1px solid $color-gray-100;
      border-radius: $border-radius;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 0.5em 1rem;
      bottom: -1px;
      // left: auto;
      right: 60px;
      // transform: translate(-50%,0);
      width: 100%;
      max-width: calc(100% - 434px);
      font-size: $font-size-sm;
      font-weight: 300;
      box-shadow: $box-shadow-1;
      z-index: 1;
    }
  }
}

video,
picture{
  border-radius: $border-radius;
  overflow: hidden;
  &.hidden{
    display: none !important;
  }
}

picture{
  &#videoFrame{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

img{
  width: 100%;
  height: auto;
}

form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: $color-gray-75;
  padding: 2rem;
  border-radius: $border-radius;
  border: 1px solid $color-gray-100;

  fieldset{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    padding: 0;
    margin: 0;
    gap: 0.5rem;

    label{
      padding: 0 1rem;
    }

    input,
    select,
    textarea{
      outline: none;
      border-radius: $border-radius;
      padding: 0.75rem 1rem;
      border: 1px solid $color-gray-100;
      background-color: $white;
      color: $color-text-dark;
      box-sizing: border-box;
      width: 100%;
      &:active,
      &:focus{
        border-color: $color-primary;
        border-width: 2px;
        padding-block: calc(0.75rem - 1px);
        padding-inline: calc(1rem - 1px);
      }
      &:autofill{
        box-shadow: 0px 0px 0px 25px $color-primary-100 inset;
      }
      &::placeholder{
        color: $color-gray;
      }
    }
  }
}



header{
  position: sticky;
  top: 0;
  height: 100%;
  max-height: 100dvh;
  width: 20dvw;
  background-color: $white;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  picture{
    img{
      width: 100%;
      max-width: 175px;
      height: auto;
    }
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      display: flex;
      align-items: center;
      &:not(:last-child){
        margin-bottom: 1rem;
      }
      a{
        text-decoration: none;
        color: $color-primary;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        &:hover{
          color: $color-secondary;
        }
        &.active{
          color: $color-secondary;
          img{
            background-color: $color-secondary;
          }
        }
      }
      img{
        width: 2rem;
        height: auto;
        padding: 0.5rem;
        background-color: $color-primary;
        border-radius: $border-radius;
      }
      &.subMenu{
        padding-left: 4rem;
        height: auto;
        transition: $transition;
        ul{
          border-top: 1px solid $color-primary;
          padding-top: 1rem;
          li{
            a{
              display: flex;
              align-items: flex-start;
              gap: 0.75rem;
            }
            img{
              padding: 0.25rem 0;
              max-width: 8px;
              height: auto;
              background: unset;
            }
          }
        }
        &.collapsed{
          // display: none;
          height: 0;
          overflow: hidden;
          transition: $transition;
        }
      }
    }
  }
  .closeContainer{
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: none;
  }
}

#indiceMCC{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  background: white;
  height: 100dvh;
  width: 60dvw;
  max-width: 1024px;
  padding: 2rem 3rem;
  transition: $transition;
  .row{
    align-items: center;
    >.col-12{
      max-height: calc(100dvh - 110px);
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  h3{
    margin: 0;
  }
  ul{
    list-style: none;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 0;
    gap: 1rem;
    li{
      a{
        text-decoration: none;
        &:hover{
          color: $color-secondary;
        }
      }
      &.subitem{
        padding-left: 1.25rem;
      }
    }
  }
  &.hidden{
    transition: $transition;
    right: -80dvw;
  }
}

#buttonIndiceMCC,
#buttonDescargaMCC{
  position: fixed;
  right: 0;
  bottom: calc((30vh + 140px) + 1rem);
  z-index: 5;
  .button{
    writing-mode: tb;
    text-orientation: mixed;
    border-radius: $border-radius-sm;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 1rem 0.5rem;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transform: rotate(180deg);
  }
}

#buttonDescargaMCC{
  bottom: 30vh;
  a{
    width: 24px !important;
  }
  img{
    transform: rotate(90deg);
  }
}

#buttonFormMCC{
  display: flex;
  padding-left: 1rem;
  margin-bottom: 4rem;
  a{
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    font-size: $font-size-base;
    line-height: $font-size-base;
    padding: 1rem 1.5rem;
    border-radius: $border-radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0; 
    img{
      margin-left: 1rem;
      width: auto;
      height: 1.5rem;
    }
  }
}

.formularioButton{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  margin-top: 3rem;
  a{
    transition: $transition;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    p{
      transition: $transition;
      font-size: $font-size-base;
      margin: 0;
      min-height: unset;
    }
    img{
      transition: $transition;
      width: 1.5rem;
      height: auto;
      &:last-of-type{
        padding: 0.5rem;
        border-radius: $border-rounded;
        overflow: visible;
        margin-top: -.2rem;
        margin-right: -1rem;
      }
    }
  }
  &--lengua{
    a{
      border-top: 3px solid $color-secondary;
      p{
        color: $color-secondary;
      }
      img{
        &:last-of-type{
          background-color: $color-secondary;
        }
      }
    }
    &:hover{
      a{
        border-top: 3px solid $color-secondary-600;
        p{
          color: $color-secondary-600;
        }
        img{
          &:last-of-type{
            background-color: $color-secondary-600;
          }
        }
      }
    }
  }
  &--matematica{
    a{
      border-top: 3px solid $color-tertiary;
      p{
        color: $color-tertiary;
      }
      img{
        &:last-of-type{
          background-color: $color-tertiary;
        }
      }
    }
    &:hover{
      a{
        border-top: 3px solid $color-tertiary-600;
        p{
          color: $color-tertiary-600;
        }
        img{
          &:last-of-type{
            background-color: $color-tertiary-600;
          }
        }
      }
    }
  }
  &--sociales{
    a{
      border-top: 3px solid $color-sociales;
      p{
        color: $color-sociales;
      }
      img{
        &:last-of-type{
          background-color: $color-sociales;
        }
      }
    }
    &:hover{
      a{
        border-top: 3px solid $color-sociales-600;
        p{
          color: $color-sociales-600;
        }
        img{
          &:last-of-type{
            background-color: $color-sociales-600;
          }
        }
      }
    }
  }
  &--naturales{
    a{
      border-top: 3px solid $color-naturales;
      p{
        color: $color-naturales;
      }
      img{
        &:last-of-type{
          background-color: $color-naturales;
        }
      }
    }
    &:hover{
      a{
        border-top: 3px solid $color-naturales-600;
        p{
          color: $color-naturales-600;
        }
        img{
          &:last-of-type{
            background-color: $color-naturales-600;
          }
        }
      }
    }
  }
}

#backtop{
  bottom: 5vh;
  position: fixed;
  right: 0;
  z-index: 5;
  transition: $transition;
  &.hidden{
    right: -100%;
    transition: $transition;
  }
}

footer{
  .acercaContainer{
    background-color: $color-gray-100;
    padding: 2rem 1rem;
    &.hidden{
      display: none !important;
    }
    &__title{
      h2,h3{
        margin: 0;
      }
      margin-bottom: 1rem;
    }
    &__image{
      img{
        height: 100%;
        object-fit: cover;
      }
    }
    &__action{}
    &__text{
      p{
        margin: 0 0 1rem;
      }
    }
  }
  .contactoContainer{
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    &__action{
      display: flex;
      justify-content: flex-end !important;
    }
  }
  .base{
    align-items: center;
    justify-content: center;
    padding-top: 2rem; 
    padding-bottom: 2rem;
    background-color: $color-primary;
    color: $white;
    p{
      margin: 0;
    }
    &__logo{
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 100%;
        max-width: 150px;
        height: auto;
      }
    }
  }
}

main{
  position: relative;
  padding: 4rem 3rem 0 !important;
  > section{
    scroll-snap-stop: always;
    &:not(:last-child):not(.actionVolver){
      margin-bottom: 4rem;
    }
  }
}

#mobileHeader{
  display: none;
  align-items: center;
  margin-bottom: 2rem;
  .logoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    picture{
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      img{
        width: 100%;
        max-width: 100px;
        height: auto;
      }
    }
  }
}

#welcome{
  color: $color-primary;
}

#slider{
  gap: 1rem;
  picture{
    img{
      max-width: 100%;
      height: auto;
    }
  }
}

button,
.button{
  display: inline-block;
  font-size: $font-size-button;
  cursor: pointer;
  border: none;
  transition: $transition;
  color: $color-primary;
  text-decoration: none;
  img{
    width: auto;
    height: 1rem;
  }
  &--primary{
    &:not(.button--icon){
      background-color: $color-primary;
      color: $white;
      padding: 1rem 3rem;
      border-radius: $border-rounded;
      &:hover{
        background-color: $color-primary-600;
      }
    }
  }
  &--secondary{
    background-color: $color-secondary;
    color: $white;
    padding: 1rem 3rem;
    border-radius: $border-rounded;
    &:hover{
      color: white;
      background-color: $color-secondary-600;
    }
  }
  &--tertiary{
    background-color: $color-tertiary;
    color: $white;
    padding: 1rem 3rem;
    border-radius: $border-rounded;
    &:hover{
      color: white;
      background-color: $color-tertiary-600;
    }
  }
  &--sociales{
    background-color: $color-sociales;
    color: $white;
    padding: 1rem 3rem;
    border-radius: $border-rounded;
    &:hover{
      color: white;
      background-color: $color-sociales-600;
    }
  }
  &--naturales{
    background-color: $color-naturales;
    color: $white;
    padding: 1rem 3rem;
    border-radius: $border-rounded;
    &:hover{
      color: white;
      background-color: $color-naturales-600;
    }
  }
  &--round{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding: 0 !important;
  }
  &--icon{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    padding: 1rem 0;
    font-size: $font-size-base;
    text-decoration: none;
    img{
      width: auto;
      height: 1rem;
    }
    &:hover{
      opacity: 0.7;
    }
    &:not(.button--primary){
      color: $white;
    }
  }
  &--volver{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: $color-primary;
    font-size: $font-size-sm;
    img{
      width: $font-size-sm;
      height: auto;
    }
  }
  &--text{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: $color-primary;
    width: fit-content;
    padding: 0;
    &:hover{
      text-decoration: underline;
    }
  }
  &.loading{
    transition: $transition;
    pointer-events: none;
    img{
      width: 1rem;
      height: 1rem;
      mix-blend-mode: hard-light;
    }
  }
}

.text-justify{
  a{
    font-style: italic;
  }
  p,
  blockquote{
    text-align: justify;
  }
  ul{
    padding-left: 1rem;
    li{
      padding-left: 0.5rem;
      margin-bottom: 1rem;
      text-align: justify;
    }
  }
}

.actionVolver{
  margin-bottom: 1rem;
}

.destacadoItem{
  &__picture{
    position: relative;
    span{
      background-color: $white;
      color: $color-primary;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: $border-rounded;
      font-weight: 600;
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }
  &__text{
    h3{
      color: $color-text-dark;
    }
  }
}

.mainContent{
  position: relative;
  &:first-child{
    align-items: center;
  }
  &:has(+hr){
    margin-bottom: 0 !important;
  }
  &--gray{
    background-color: $color-gray-75;
    padding: 2rem 1.5rem;
    margin: 0;
    p{
      margin-bottom: 0.5rem;
      small{
        color: $color-gray-500;
      }
    }
    .mainContent{
      &__subtitle{
        &:not(:first-child){
          margin-top: 2rem;
        }
      }
    }
  }
  &__resume{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    p{
      margin: 0;
    }
    + .mainContent{
      &__resume{
        margin-top: 1rem;
      }
    }
  }
  &__image{
    &:not(.mainContent__image--banner){
      img{
        object-fit: cover;
        height: 100%;
        object-position: left;
      }
    }
    &.col-lg-3{
      img{
        width: 100%;
        height: auto;
      }
    }
    + .mainContent__resume{
      margin-top: 2rem;
    }
    &--banner{
      margin-bottom: 3rem;
      img{
        max-width: 350px;
      }
    }
  }
  &.colapsed{
    height: 0px;
    opacity: 0;
    margin: 0 !important;
    display: none;
  }
  &__subtitle{
    h2{
      margin-top: 0;
    }
  }
  &__text{
    p{
      margin-top: 0;
    }
    ul{
      li{
        &:not(:last-child){
          margin-bottom: 1rem;
        }
        p{
          margin-bottom: 0.5rem;
        }
      }
    }
    ol{
      list-style: none;
      li{
        position: relative;
        &:not(:last-child){
          margin-bottom: 2rem;
        }
        p{
          margin-bottom: 0.5rem;
        }
        >span{
          position: absolute;
          left: -1.5rem;
          font-weight: 600;
        }
        h4{
          margin: 0.5rem 0;
          span{
            font-weight: 400;
            color: $color-text-dark;
          }
        }
        img{
          width: 2rem;
          height: auto;
          position: absolute;
          left: -2.5rem;
          top: -4px;
        }
      }
    }
  }
  &__title{
    small{
      font-weight: 400;
    }
    &:has(br){
      line-height: 200%;
    }
    &--svg{
      margin-bottom: 1rem;
    }
  }
  &__media{
    img{
      width: 100%;
      height: auto;
    }
  }
  &__form{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    form{
      flex-grow: 1;
    }
    #contactSuccess,
    #contactDanger{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: fit-content;
      padding: 2rem;
      background-color: $color-success-50;
      border: 1px solid $color-success-100;
      border-radius: $border-radius;
      box-sizing: border-box;
      margin: 0 2rem;
      z-index: 1;
      &:not(.hidden){
        & ~ form{
          opacity: 0.5;
          pointer-events: none;
          min-height: 260px;
          > fieldset{
            display: none;
          }
        }
      }
      h2,p{
        text-align: center;
      }
      h2{
        color: $color-success;
        margin: 0;
      }
      .button{
        margin-top: 3rem;
        color: $color-success;
      }
      &.hidden{
        display: none;
      }
    }
    #contactDanger{
      background-color: $color-danger-50;
      border: 1px solid $color-danger-100;
      h2{
        color: $color-danger;
      }
      .button{
        color: $color-danger;
      }
    }
  }
  &__portada{
    img{
      transition: $transition;
    }
    a{
      &:hover{
        img{
          transition: $transition;
          box-shadow: $box-shadow-1;
        }
      }
    }
  }
  &--genially{
    > .col-12{
      > div{
        overflow: hidden;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
    .mainContent{
      &__resume{
        p{
          margin: 0 0 1rem;
        }
        &--next{
          margin-bottom: 0.5rem;
          gap: 0;
          p{
            background-color: $color-gray-75;
            color: $color-primary;
            padding: 1.5rem;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            margin-bottom: 1rem;
            margin: 0;
            + p{
              border-radius: 0;
              margin-top: -2px;
              padding-top: 0;
            }
          }
        }
      }
    }
  }
  &--autor{
    display: flex;
    justify-content: center;
    .mainContent__media{
      margin-top: -5rem;
    }
    >.mainContent__image{
      &.justify-content-end{
        margin-bottom: 2rem;
      }
    }
  }
  &#anexo,&#referencias{
    h2,h3{
      color: $color-text-dark;
    }
  }
  &#anexo{
    .mainContent{
      &__text{
        background-color: $color-gray-100;
        padding: 1rem 2rem;
      }
    }
  }
  &#referencias{
    p{
      text-indent: -2rem;
      padding-left: 2rem;
    }
  }
}

.MCC{
  .mainContent{
    padding-right: 1.25rem;
  }
}

.actionsContainer{
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 56px;
}



.actionsContainerProgresiones{
  padding-bottom: 2rem;
  &__item{
    p{
      min-height: 48px;
      margin-bottom: 2rem;
      text-align: center;
    }
    .actionsContainerProgresionesItem{
      display: flex;
      align-items: center;
      justify-content: center;
      &__image{
        position: relative;
        picture{
          position: absolute;
          left: 10%;
          top: 0;
          z-index: -1;
          margin-top: -1.5rem;
          img{
            width: 175px;
            height: auto;
          }
        }
      }
      &__action{}
    }
  }
}

#pdfContainer,
#pdf-canvas{
  width: 100%;
  height: auto;
  aspect-ratio: 145/109;
  border-radius: $border-radius;
  overflow: hidden;
}

.pdfNavigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__control{
    .round{
      padding: 0.5rem;
    }
    .next{
      img{
        transform: rotate(180deg);
      }
    }
  }
}

.backdrop{
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
  transition: $transition;
  &.hidden{
    display: none;
    transition: $transition;
  }
}

#equipo{
  .mainContent{
    &__text{
      p{
        small{
          color: $color-gray-500;
        }
      }
    }
  }
}

@media screen and (min-width: 768px){
  .hide-desktop{
    display: none !important;
  }
}

@media screen and (max-width: 767px){
  main{
    padding: 2rem 1rem 0 !important;
    >section{
      &:not(:last-child):not(.actionVolver){
        margin-bottom: 2rem;
      }
    }
    .mainContent{
      &__image{
        &:not(.mainContent__image--banner){
          display: none;
        }
        &--banner{
          display: flex;
          justify-content: center;
          margin: 3rem 0 4rem;
        }
      }
      &--gray{
        p{
          &:not(:last-child){
            margin-bottom: 1.25rem !important;
          }
        }
      }
      &__video{
        + .mainContent__resume{
          margin-top: 2rem;
        }
      }
      &--autor{
        .mainContent__media{
          margin-top: 0;
        }
      }
    }
  }
  hr{
    margin: 2rem 0;
  }
  
  .destacadoItem{
    &:not(:last-child){
      margin-bottom: 2rem;
    }
  }
  header{
    position: absolute;
    width: 60dvw;
    top: 0;
    left: 0;
    z-index: 10;
    transition: $transition;
    .closeContainer{
      display: block;
    }
    &.hidden{
      left: calc(-60dvw - 100px);
    }
  }
  footer{
    .acercaContainer{
      padding: 2rem 0rem;
    }
    .base{
      padding: 2rem;
      gap: 1rem;
      > div{
        display: flex;
        justify-content: center;
      }
      &__logo{
        padding: 0;
        &.col{
          img{
            width: 140px;
          }
        }
        img{
          margin: 0;
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .MCC{
    .mainContent{
      padding-right: 2.25rem;
    }
  }
  #indiceMCC{
    padding: 1rem 2rem;
    width: 80dvw;
    ul{
      li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: 100%;
        &.subitem{
          max-width: calc(100% - 1.25rem);
        }
        a{
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    h3{
      margin: 0;
    }
    &.hidden{
      right: calc(-80dvw - 100px);
    }
  }
  #mobileHeader{
    display: flex;
  }
  #destacados{
    margin-top: 4rem;
  }
  [data-tooltip] {
    &:hover {
      &::after {
        max-width: calc(100vw - 102px);
        right: 52px;
      }
    }
  }
  .hide-mobile{
    display: none !important;
  }

  .actionsContainerProgresiones__item{
    &:not(:last-child){
      margin-bottom: 3rem;
    }
    > p{
      margin: 0 0 1rem;
    }
  }
}